---
layout: page
title: Categories
permalink: /categories/
---

{% for category in site.categories %}
	<li>
		<h2>
			<a class="post-link" href="/category/{{ category | first | url_encode }}/index.html">{{ category | first }}</a>
        </h2>
	</li>
{% endfor %}
